@media screen and (max-width: 1024px) {
    .header__search {
        width: auto !important;
        display: none;
    }
}
@media screen and (min-width: 1016px) and (max-width: 1140px) {
    .header__search {
      /* display: none !important; */
        width: auto !important;
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .playlist {
        display: none;
    }

    .playlist-container {
      width: 100%; /* Ocupa toda a largura disponível */
      height: auto; /* Altura automática, ajusta conforme o conteúdo */
    }

    .sidebar {
        width: 90px;
    }

    .offer__list-item {
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        margin:10px;
        padding:10px;
    

    }

    .offer__scroll-container {
        overflow-y: visible;
    }

}
