@media screen and (max-width: 1024px) {
    .offer__list-item{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 450px) {
     .offer__list-item{
        grid-template-columns: 1fr 1fr;
    }
    .header__search {
        width: 216px;
    }
    .cards {
        width: 198px;
    }
}
